/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#title, #format, #dateInput, #dateInputButton, #name, #description{
  display: block;
  margin: 0 25%;
}
#description{
  margin: 0 auto;
  font-size: 2rem;
}
